[submodule "tests/BranchDiffer.Git.Tests/Assets/GitBranchDiffer-TestAsset"]
	path = tests/BranchDiffer.Git.Tests/Assets/GitBranchDiffer-TestAsset
	url = https://github.com/sajalverma17/GitBranchDiffer-TestAsset.git
